**/dist
**/bin

docs/node_modules
docs/.pnp
docs/**/.pnp.js

docs/coverage

docs/.next
docs/out

docs/build

docs/**/.DS_Store
docs/**/*.pem

docs/**/npm-debug.log*
docs/**/yarn-debug.log*
docs/**/yarn-error.log*

docs/**/.env*.local

docs/**/.vercel

docs/**/*.tsbuildinfo
docs/**/next-env.d.ts

!docs/node_modules/tailwindcss/stubs/**/*
fly.toml
